<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name='viewport', content='width=device-width,
    initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme" content="#00EB8C">

    <title>QuieroSaber!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <!-- <link rel="manifest" href="<%= static_path(@conn, "/manifest.json") %>"> -->
  </head>

  <body>
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
  <!-- <script type="text/javascript">
  if('serviceWorker' in navigator) {
    navigator.serviceWorker.register('./sw.js').then(registration => {
      registration.onupdatefound = () => {

        const installingWorker = registration.installing;

        installingWorker.onstatechange = (e) => {

          if (installingWorker.state === 'installed') {
            if (navigator.serviceWorker.controller) {
              console.log('El contenido del sitio se ha actualizado, verás la nueva versión tras refrescar la página');
            } else {
              console.log('Sitio \'cacheado\' ¡Visitas offline activadas!');
            }
          }

        };
      };

    }).catch(err => {
      console.warn(':( Algo pasó durante el registro del Service Worker: ', err);
    });

    navigator.serviceWorker.ready.then(serviceWorkerRegistration => {
      console.log('El Service Worker está listo :D');
    })
  }
  </script> -->
  </body>
</html>
