<h2>New participant</h2>

<%= render "form.html", changeset: @changeset,
                        action: participant_path(@conn, :create) %>

<span><%= link "Back", to: participant_path(@conn, :index) %></span>
