<h2>Show poll</h2>

<ul>

  <li>
    <strong>ID:</strong>
    <%= @poll.id %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @poll.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @poll.description %>
  </li>

</ul>

<span><%= link "Edit", to: poll_path(@conn, :edit, @poll) %></span>
<span><%= link "Back", to: poll_path(@conn, :index) %></span>
