<div id="app" class="row">
  <div class="col-xs-9">
    <input type="text" id="code" class="form-control" placeholder="Enter the code" autofocus>
  </div>
</div>

<script>
  window.appConfig = {
    onLoad: function(Client) {
      Client.initVue();
    }
  };
</script>
